# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.env

# Flask / instance files
instance/
.env

# Virtual environment
venv/
env/

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Uploads folder (keep empty)
uploads/*
!uploads/.gitkeep
